  <% include ./layout/head.ejs %>

  <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
        data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
          data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-3"><a
                href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-3"><a
                href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Single</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            <%-JsonParam.jobSingleList[0].JOB_TITLE%></h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ftco-animate">
          <!-- job post-->
          <h2 class="font-weight-bold">Job Post</h2>
          <div class=" bg-light mb-5 p-4">
            <div class="row form-group">
              <div class="col-md-12">
                <h3 for="subTitle">Sub Title</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].JOB_SUBTITLE%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Time</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].JOB_TIME%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Image</h3>
              </div>
              <div class="col-md-6">
                <img src='<%-JsonParam.jobSingleList[0].JOB_IMAGE%>' width="300" height="300" id='jobImage' alt='Image'
                  class='img-fluid' style="display: block; margin: auto;">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Description</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].JOB_DESC%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Content</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].JOB_CONTENT%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Registration Date of Job Post </h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p>
                  <%-new Date(JsonParam.jobSingleList[0].JOB_DATE).toISOString().replace(/T/, ' ').replace(/\..+/, '')%>
                </p>
              </div>
            </div>
          </div>
          <!-- job post end-->
          <!-- company-->
          <h2 class="font-weight-bold">Company</h2>
          <div class=" bg-light mb-5 p-4">
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <h3 for="subTitle">Company Name</h3>
                <div class="col-md-6 mb-3 mb-md-0">
                  <p><%-JsonParam.jobSingleList[0].COMPANY_NM%></p>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Company Address</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].COMPANY_ADDR%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Company Tel</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].COMPANY_TEL%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Company Email</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p><%-JsonParam.jobSingleList[0].COMPANY_EMAIL%></p>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <h3>Company Image</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <img src='<%-JsonParam.jobSingleList[0].COMPANY_IMAGE%>' id='jobImage' alt='Image' width="300"
                  height="300" class='img-fluid' style="display: block; margin: auto;">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Date of incorporation</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <p>
                  <%-new Date(JsonParam.jobSingleList[0].COMPANY_DATE).toISOString().replace(/T/, ' ').replace(/\..+/, '')%>
                </p>
              </div>
            </div>
          </div>
          <!--company end-->
          <!--empoyer-->
          <h2 class="font-weight-bold">Employer Introduction</h2>
          <div class="about-author d-flex p-4 bg-light">
            <div class="bio mr-5">
              <img src="<%-JsonParam.jobSingleList[0].EMP_IMAGE%>" alt="Image placeholder"
                style="width: 100px;height: 100px;" class="img-fluid mb-4">
            </div>
            <div class="desc">
              <h3><%-JsonParam.jobSingleList[0].EMP_NM%></h3>
              <p><%-JsonParam.jobSingleList[0].EMP_INTRO%></p>
            </div>
          </div>
          <!--empoyer end-->
          <!-- comment-->
          <%if(JsonParam.jobCommentList[0]!=null||JsonParam.jobCommentList[0]!=undefined){ %>
            
            <!-- json객체를 json문자열로 변환한 다음 jobCommentList에 담는다-->
            <script>
              var jobCommentList=<%-JSON.stringify(JsonParam.jobCommentList)%>;
            </script>

            <div class="pt-5 mt-5">
            <h3 class="mb-5 font-weight-bold"><%=JsonParam.jobCommentList.length%> Comments</h3>
            <div id="commentAdd">
            <!--Comment Line -->
            </div>
            <!-- END comment-list -->
            <%}%>
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <form action="#" class="p-5 bg-light">
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="website">Website</label>
                  <input type="url" class="form-control" id="website">
                </div>

                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>

              </form>
            </div>
          </div>
          <!--end  -->
        </div> <!-- .col-md-8 -->
      </div>

    </div>
  </section> <!-- .section -->

  <% include ./layout/footer.ejs %>
  <script src="/javascript/job-single.js"></script>