  <% include ./layout/head.ejs %>


  <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start"
        data-scrollax-parent="true">
        <div class="col-md-8 ftco-animate text-center text-md-left mb-5"
          data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-3"><a
                href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Post a Job</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Post a Job</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-8 mb-5">

          <form action="/job/imageUpload" class="p-5 bg-white" method="post" id="job_form_img" enctype="multipart/form-data"
            accept-charset="utf-8">
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="option-price-1">Post Option</label>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-price-1">
                  <input type="checkbox" id="option-price-1" name="post-option" value="P1"> <span class="text-success">$500</span> For 30 days
                </label>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-price-2">
                  <input type="checkbox" id="option-price-2" name="post-option" value="P2"> <span class="text-success">$300</span> / Monthly Recurring
                </label>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="jobTitle">Job Title</label>
                <input type="text" id="jobTitle" class="form-control" placeholder="Please type Job Title..">
              </div>
            </div>

            <div class="row form-group mb-5">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="subTitle">Sub Title</label>
                <input type="text" id="subTitle" class="form-control" placeholder="Please type SubTitle..">
              </div>
            </div>

            <div class="row form-group mb-5">
              <div class="col-md-12">
                <h3>Job Time</h3>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-job-type-1">
                  <input type="radio" id="option-job-type-1" name="job-time" value="T1"> Full Time
                </label>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-job-type-2">
                  <input type="radio" id="option-job-type-2" name="job-time" value="T2"> Part Time
                </label>
              </div>

              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-job-type-3">
                  <input type="radio" id="option-job-type-3" name="job-type" value="T3"> Freelance
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-job-type-4">
                  <input type="radio" id="option-job-type-4" name="job-type" value="T4"> Internship
                </label>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <label for="option-job-type-4">
                  <input type="radio" id="option-job-type-4" name="job-type" value="T5"> Termporary
                </label>
              </div>
            </div>

            <div class="row form-group mb-5">
              <div class="col-md-12 mb-3 mb-md-0">
                <h3>Job Image</h3>
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <label for="jobImage" class="text-black" style="display:block;">JOB POST IMAGE<span
                    class="text-danger">*</span></label>
                <!-- <input type="text" class="form-control" id="c_lname" name="c_lname"> -->
                <!-- <div class="site-blocks-cover inner-page" style="background-image: url('images/hero_1.jpg');"> -->
                <img src='/images/postImage/noimage.png' width="300" height="300" id='jobImage' alt='Image'
                  class='img-fluid' style="display: block; margin: auto;">
              </div>
              <div class="col-md-6 mb-3 mb-md-0">
                <!-- <input class="upload-name" value="Select File" disabled="disabled" >  -->
                <div>
                  <label for="jobImageFile" class="text-black">SELECT IMAGE FILE</label><span class="text-danger">*</span>
                  <div>
                    <input type="file" name="jobImageFile" id="jobImageFile">
                    <span class="error image"></span>
                  </div>
                </div>
                </br>
                <label for="jobPath" class="text-black" style="display:block;">SAVE FILE PATH</label>
                <input type="text" class="form-control" id="jobPath" disabled='disabled'>
                <input type="submit" name="jobSubmit" value="Image Save" style="margin-top:15px;">
                <!-- e.preventDefault();로 submit가 원래 가진 이벤트가 막힘 -->
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Description</h3>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <textarea name="" class="form-control" id="jobDesc" cols="30" rows="5"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <h3>Job Content</h3>
              </div>
              <div class="col-md-12 mb-3 mb-md-0">
                <textarea class="form-control" id="jobContent"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="button" value="Post" id='btnPost' class="btn btn-primary  py-2 px-5">
              </div>
            </div>

          </form>
        </div>

        <div class="col-lg-4">
          <div class="p-4 mb-3 bg-white">
            <h3 class="h5 text-black mb-3">Contact Info</h3>
            <p class="mb-0 font-weight-bold">Company Name</p>
            <p class="mb-4" id="companyNm"><%-JsonParam.companyList.COMPANY_NM%></p>

            <p class="mb-0 font-weight-bold">Address</p>
            <p class="mb-4" id="companuAddr"><%-JsonParam.companyList.COMPANY_ADDR%></p>

            <p class="mb-0 font-weight-bold">Phone</p>
            <p class="mb-4" id="companyPhone"><a href="#"><%-JsonParam.companyList.COMPANY_TEL%></a></p>

            <p class="mb-0 font-weight-bold">Email Address</p>
            <p class="mb-0"><a href="#"><span class="__cf_email__"
                  data-cfemail="671e081215020a060e0b2703080a060e094904080a" id="companyEmail"><%-JsonParam.companyList.COMPANY_EMAIL%></span></a>
            </p>
            <input type="hidden" value="<%-JsonParam.companyList.COMPANY_IDX%>" id="companyEmpIdx">
          </div>

          <div class="p-4 mb-3 bg-white">
            <h3 class="h5 text-black mb-3">More Info</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad iure porro mollitia architecto hic
              consequuntur. Distinctio nisi perferendis dolore, ipsa consectetur</p>
            <p><a href="#" class="btn btn-primary  py-2 px-4">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% include ./layout/footer.ejs %>
  <script src="/javascript/new-post.js"></script>